# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/*.suo
/Delete/*.sln
/SimpleInstaller/SwishBin/Swish.AppendAdapter.exe
/SimpleInstaller/SwishBin/Swish.CollapseAdapter.exe
/SimpleInstaller/SwishBin/Swish.MergeAdapter.exe
/SimpleInstaller/SwishBin/Swish.SortAdapter.exe
/SimpleInstaller/SwishBin/Swish.dll
/Test/*.user
/Delete/*.suo
/MakeDirectory/*.user
/SimpleInstaller/*.user
/MakeDirectory/*.suo
/MakeDirectory/*.sln
/Swish/*.user
